<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zzx.mapper.UserMapper">

    <insert id="save" parameterType="User">
        INSERT INTO user
        VALUES (null,#{uname},#{upwd},#{ustate},#{ucreatetime},#{level},#{phone},#{career},#{address},100,#{path,jdbcType=VARCHAR},0);
    </insert>


    <select id="findUserByUname" parameterType="User" resultType="User">

        SELECT uid,uname,upwd,ustate,ucreatetime,level,phone,career,address,score,path,verified
        FROM user
        WHERE uname=#{uname}
    </select>


    <select id="findUserByUnameAndUpwd" resultType="User" parameterType="User">
        SELECT uid,uname,upwd,ustate,ucreatetime,level,phone,career,address,score,path,verified
        FROM user
        WHERE uname=#{uname} and upwd=#{upwd}
    </select>

    <select id="findAllUser" resultType="User">
        SELECT uid,uname,ustate,ucreatetime,level,phone,career,address,path,verified
        FROM user
    </select>

    <update id="updateUser" parameterType="User">
        UPDATE user
        <set>
            <if test="uname!=null">
                uname = #{uname},
            </if>
            <if test="ustate!=null">
                ustate = #{ustate},
            </if>
            <if test="phone!=null">
                phone = #{phone},
            </if>
            <if test="career!=null">
                career = #{career},
            </if>
            <if test="address!=null">
                address = #{address},
            </if>
            <if test="path!=null">
                path = #{path},
            </if>
            <!-- <if test="level!=null">
                level = #{level},
            </if> -->
        </set>
        WHERE uid = #{uid}
    </update>

    <select id="findUserByUid" parameterType="Integer" resultType="User">
        SELECT uid,uname,upwd,ustate,ucreatetime,level,phone,career,address,score,path,verified
        FROM user
        WHERE uid = ${value}
    </select>

    <update id="updateUserPwd" parameterType="User" >
        UPDATE user
        SET upwd = #{upwd}
        WHERE uname = #{uname}
    </update>

    <!-- 为用户添加积分 -->
    <update id="addUserScore" parameterType="map">
        UPDATE user
        SET score = score + #{score}
        WHERE uid = #{uid}
    </update>

    <!-- 扣除用户积分 -->
    <update id="deductUserScore" parameterType="map">
        UPDATE user
        SET score = score - #{score}
        WHERE uid = #{uid} AND score >= #{score}
    </update>

    <update id="updateVerified" parameterType="map">
        UPDATE user
        SET verified = #{verified}
        WHERE uid = #{uid}
    </update>

    <!-- 删除用户 -->
    <delete id="deleteUser" parameterType="Integer">
        DELETE FROM user
        WHERE uid = #{uid}
    </delete>

    <!-- 禁言所有非管理员用户 -->
    <update id="banAllNonAdminUsers">
        UPDATE user
        SET ustate = 0
        WHERE level = 1
    </update>

    <!-- 解禁所有非管理员用户 -->
    <update id="unbanAllNonAdminUsers">
        UPDATE user
        SET ustate = 1
        WHERE level = 1
    </update>

    <select id="findAllUids" resultType="int">
        SELECT uid FROM user
    </select>

</mapper>